Django==5.1.7
djangorestframework
djangorestframework-simplejwt
django-cors-headers
dj-database-url
psycopg2-binary
python-dotenv
whitenoise
gunicorn
django-allauth
dj-rest-auth
cryptography
requests
channels
asgiref
social-auth-app-django
daphne
asgiref
websockets
redis
drf-spectacular
hedera-sdk-py
django-environ